In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Perfumes_dataset.csv")

In [5]:
df.head()

    brand           perfume type     category target_audience longevity
0  dumont         nitro red  edp  Fresh Scent            Male    Strong
1  dumont  nitro pour homme  edp  Fresh Scent            Male    Strong
2  dumont       nitro white  edp  Fresh Scent          Unisex    Strong
3  dumont        nitro blue  edp  Fresh Scent          Unisex    Strong
4  dumont       nitro green  edp  Fresh Scent          Unisex    Strong

In [6]:
df.tail(3)

        brand         perfume type         category target_audience longevity
1001  Mancera  French Riviera  EDP  Citrus Aromatic          Unisex    Strong
1002  Mancera       Wind Wood  EDP     Woody Floral             Men    Strong
1003  Mancera    Roses Greedy  EDP  Floral Gourmand           Women    Medium

In [29]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            1004 non-null   object
 1   perfume          1004 non-null   object
 2   type             1004 non-null   object
 3   category         1004 non-null   object
 4   target_audience  1004 non-null   object
 5   longevity        1004 non-null   object
dtypes: object(6)
memory usage: 47.2+ KB

,brand,perfume,type,category,target_audience,longevity
0,dumont,nitro red,edp,Fresh Scent,Male,Strong
1,dumont,nitro pour homme,edp,Fresh Scent,Male,Strong
2,dumont,nitro white,edp,Fresh Scent,Unisex,Strong
3,dumont,nitro blue,edp,Fresh Scent,Unisex,Strong
4,dumont,nitro green,edp,Fresh Scent,Unisex,Strong
...,...,...,...,...,...,...
999,Mancera,Holiday,EDP,Fresh Oriental,Unisex,Medium
1000,Mancera,Aoud Lemon Mint,EDP,Fresh Woody,Unisex,Strong
1001,Mancera,French Riviera,EDP,Citrus Aromatic,Unisex,Strong
1002,Mancera,Wind Wood,EDP,Woody Floral,Men,Strong
1003,Mancera,Roses Greedy,EDP,Floral Gourmand,Women,Medium

In [11]:
df.describe()

,brand,perfume,type,category,target_audience,longevity
count,1004,1004,1004,1004,1004,1004
unique,55,940,14,157,7,13
top,Jean Paul Gaultier,Le Classique Eau de Parfum,EDP,Woody Spicy,Unisex,Medium
freq,94,21,500,138,375,560

In [13]:
df.nunique()

brand               55
perfume            940
type                14
category           157
target_audience      7
longevity           13
dtype: int64

In [ ]:
df.shape

(1004, 6)

In [19]:
df.isnull()

      brand  perfume   type  category  target_audience  longevity
0     False    False  False     False            False      False
1     False    False  False     False            False      False
2     False    False  False     False            False      False
3     False    False  False     False            False      False
4     False    False  False     False            False      False
...     ...      ...    ...       ...              ...        ...
999   False    False  False     False            False      False
1000  False    False  False     False            False      False
1001  False    False  False     False            False      False
1002  False    False  False     False            False      False
1003  False    False  False     False            False      False

[1004 rows x 6 columns]

In [20]:
print (df.isnull().sum())

brand              0
perfume            0
type               0
category           0
target_audience    0
longevity          0
dtype: int64

In [26]:
df.columns
for col in df.columns:
    print(f"{col}")

brand
perfume
type
category
target_audience
longevity